.places {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    flex: 100%;
    margin-left: 17px;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0px;
    margin-bottom: 23px;
}